body {

    font-family: 'Inter';
    font-size: 16px;
    background-color: #FAFAEB;
}

h2 {

    font-family: 'Passion One', cursive;
    font-weight: 200;
    font-size: 36px;
    color:#2f2f2f
}
li {

    color: green;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  input {

    background-color: #F3F3CE;
    border: 1px dashed #E7E79C;
    color: #a5a5a5;
    padding: 8px;
    margin-left: 10px;
    font-family: 'Inter';
    font-size: 14px;
  }

  input:hover {

    border: 1px solid #d3d3d3;
    cursor: pointer
  }

  input:focus {

    outline-style: none;
    outline-color: #535353;
    outline-width: medium;
    color: #535353;
  }

  input {

    margin-bottom: 5px;
  }

  li {

    list-style: none;
  }

  button {
      margin-left: 15px;
  }

#addPerson {

    max-width: 300px;
}


  form button {

    float:right;


  }
  label {

    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }

  #addPerson > div > input {

    margin:0;
    margin-bottom: 15px;
    width: 100%;


  }

  ul input {

    background-color: #FAFAEB;
    border: none;


  }